<!-- Warning do not leave spaces in between tags, it will count as part of the data string -->
<config>
        <database>
            
            <name>flows</name>

            <auth>

                <user>root</user>

                <passwd>rootitg</passwd>

            </auth>

        </database>

        <logs><path>/home/eric/newToa/toalogs/</path></logs>

        <flows><path>/CassandraVol/flows/</path></flows>

        <graphs><path>graphs/</path></graphs>

        <crontime><time>300</time></crontime>

    </config>
